.span {
    width: 50%;
    background-color: grey;
    height: 1px;
}

.bg-mblue {
    background-color: #282828;
}

.Flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    vertical-align: middle;
}

.Flex-prop {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bg-blue {
    background-color: #4169E1;
}

.text-white {
    color: white;
}

.bg-gray {
    background-color: #cbc9c9;
}